/* .card{
    width: 30%;
} */

.work{
    background-image: url('../../assets/images/icon-work.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-color:hsl(15, 100%, 70%);
    border-radius: 5px;
    height: 50px;
}

.working{
    background-color: hsl(235, 46%, 20%);
    border-radius: 5px;
    margin: 0;
    height: 140px;
    margin-top: -10px;
}

.info{
    color: white;
    margin: 0;
    margin-left: 15px;
}

.colors{
    color: grey;
    margin-left: 15px;
}

#work{
    background-color: hsl(15, 100%, 70%);
    background-image: url(../../assets/images/icon-work.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

#play{
    background-color: hsl(195, 74%, 62%);
    background-image: url(../../assets/images/icon-play.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

#study{
    background-color: hsl(348, 100%, 68%);
    background-image: url(../../assets/images/icon-study.svg);
    background-repeat: no-repeat;
    background-position-x: right;
} 
#exercise{
    background-color: hsl(145, 58%, 55%);
    background-image: url(../../assets/images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position-x: right;
} 
#social{
    background-color: hsl(264, 64%, 52%);
    background-image: url(../../assets/images/icon-social.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

#self-care{
    background-color: hsl(43, 84%, 65%);
    background-image: url(../../assets/images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}